@import url("https://fonts.googleapis.com/css2?family=Charter:wght@600&display=swap");
:root {
    --c1: #F0F7F4;
    --c2: #D6E8E6;
    --c3: #99E1D9;
    --c4: #70ABAF;
    --c5: #474E51;
    --c6: #32292F;
}

body {
    background-image: linear-gradient(to right, var(--c5), var(--c6));
    color: var(--c2);
}

header {
    margin: 60px 5px 30px 5px;
}

main {
    padding-bottom: 50px;
    padding-left: 4px;
    padding-right: 4px;
    display: block;
}

h1 {
    font-size: 72px;
    color: var(--c3);
}

h2 {
    font-size: 36px;
    padding-bottom: 5px;
    color: var(--c1);
}

.previousSelection {
    padding-top: 28px;
}

.errorMsg {
    color: red;
    font-weight: bold;
}

input {
    background-color: red;
}

.btn {
    background-color: blue;
}