@import url("https://fonts.googleapis.com/css2?family=Charter:wght@600&display=swap");
:root {
    --c1: #F0F7F4;
    --c2: #D6E8E6;
    --c3: #99E1D9;
    --c4: #70ABAF;
    --c5: #474E51;
    --c6: #32292F;
}

body {
    background-image: linear-gradient(to right, var(--c5), var(--c6));
    color: var(--c2);
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

header {
    margin: 30px 35px 30px 35px;
}

main {
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
}

h1 {
    font-size: 80px;
    color: var(--c3);
}

h2 {
    font-size: 36px;
    padding-bottom: 5px;
    color: var(--c1);
}

.previousSelection {
    padding-top: 28px;
}

.previousSelection h2 {
    opacity: 70%;
}

.errorMsg {
    color: red;
    font-weight: bold;
}

input {
    background-color: red;
}

.form-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.expand-flex {
    display: flex;
    justify-content: space-around;
}

.expand-flex section {
    width: 44vw;
}

/* for desktop */
@media only screen and (min-width: 768px) {
    h1 {
        font-size: 100px;
    }
}