@import url("https://fonts.googleapis.com/css2?family=Charter:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');


@font-face {
    font-family: Nanum-Gothic;
    src: url('NanumGothic-Regular.ttf') format('truetype');
}

body {
    background-image: linear-gradient(to right, rgb(252, 252, 213), rgb(255, 243, 164));
}

header {
    margin: 60px 5px 30px 5px;
}

main {
    padding-bottom: 50px;
    padding-left: 4px;
    padding-right: 4px;
}

h1 {
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
    font-size: 30px;
}

p {
    font-family: "Charter";
}

.errorMsg {
    color: red;
    font-weight: bold;
}

#nav-logo {
    width: 16.94vw;
    height: 4vw;
    margin-left: 0vw;
}

.nav-item {
    margin: 0.06vw 1.5vw 0.06vw 0.4vw;
    font-size: larger;
}

.nav-item:hover {
    margin: 0vw 1.44vw 0vw 0.34vw;
    border: 0.06vw solid #3E424B;
}

nav {
    background-color: #E0E9E0;
}

input {
    background-color: red;
}

ul {
    display: flex;
}

.btn {
    background-color: blue;
}

.nav-link {
    color: #604B4C;
}