{% extends "layout.html" %}

{% block title %}
More About Idea
{% endblock %}

{% block main %}
<div>
    <h1>{{ idea }}</h1>
    <div style="display: flex;">
        <div>
            <p>
                {{ expansion }}
            </p>
        </div>
        <div>
            <h2>Similar Ideas</h2>
            {% for idea in similar_ideas %}
                <div class="mb-3">
                    <div class="btn-group">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            {{ idea }}
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <button class="dropdown-item" onclick="submitForm('/save', '{{ idea }}')">
                                    Save
                                </button>
                            </li>
                            <li>
                                <button class="dropdown-item" onclick="submitForm('/expand', '{{ idea }}')">
                                    Expand
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            {% endfor %}
            <script>
                document.addEventListener("DOMContentLoaded", (event) => {
                    document.body.addEventListener('click', function (event) {
                        if (event.target.matches('.dropdown-menu .save')) {
                            var form = document.createElement('form');
                            form.method = 'post';
                            form.action = "/save";
                            var input = document.createElement('input');
                            input.type = 'hidden';
                            input.name = 'idea';
                            input.value = event.target.dataset.name;
                            form.appendChild(input);
                            document.body.appendChild(form);
                            form.submit();
                        }
                        else if (event.target.matches('.dropdown-menu .expand')) {
                            var form = document.createElement('form');
                            form.method = 'post';
                            form.action = "/expand";
                            var input = document.createElement('input');
                            input.type = 'hidden';
                            input.name = 'idea';
                            input.value = event.target.dataset.name;
                            form.appendChild(input);
                            document.body.appendChild(form);
                            form.submit();
                        }
                    });
                });
            </script>
        </div>
    </div>
</div>
{% endblock %}