{% extends "layout.html" %}

{% block title %}
More About Idea
{% endblock %}

{% block header %}
    <h1>{{ idea }}</h1>
    {% if idea in saved_ideas %}
        <div class="expand-subtext">
            <span>
                <p>You have this idea saved</p>

                <form action="/expand" method="post">
                    <button class="btn btn-danger" name="delete-idea" value="{{ idea }}" type="submit">
                        Remove From Saved
                    </button>
                </form>
            </span>
        </div>
    {% else %}
        <div class="expand-subtext">
            <span>
                <p>You have not saved this idea</p>

                <form action="/expand" method="post">
                    <button class="btn btn-primary" name="save-idea" value="{{ idea }}" type="submit">
                        Save
                    </button>
                </form>
            </span>
        </div>
    {% endif %}
{% endblock %}

{% block main %}
    <div>
        <div class="expand-flex">
            <section class="description-container">
                <h2>Description</h2>
                <p>
                    {{ expansion }}
                </p>
            </section>

            <section>
                <h2>Similar Ideas</h2>
                <div>
                    {% for idea in similar_ideas %}
                        <div class="mb-3">
                            <div class="btn-group">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    {{ idea }}
                                </button>
                                <ul class="dropdown-menu">
                                    {% if idea in saved_ideas %}
                                        <form action="/expand" method="post">
                                            <button class="dropdown-item save" name="delete-idea" value="{{ idea }}" type="submit">
                                                Remove from saved
                                            </button>
                                        </form>
                                    {% else %}
                                        <form action="/expand" method="post">
                                            <button class="dropdown-item save" name="save-idea" value="{{ idea }}" type="submit">
                                                Save
                                            </button>
                                        </form>
                                    {% endif %}
                                    <form action="/expand" method="post">
                                        <button class="dropdown-item save" name="idea" value="{{ idea }}" type="submit">
                                            Expand
                                        </button>
                                    </form>
                                </ul>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
        </div>
    </div>
{% endblock %}