{% extends "layout.html" %}

{% block title %}
    Generator
{% endblock %}

{% block header %}
    <h1>Idea Generator</h1>
    {% if len_previous_selections == 0 %}
        <p>Please answer this adaptive quiz so we can generate a personalised idea just for you.</p>
    {% endif %}
{% endblock %}

{% block main %}
    {% if has_ideas %}
        <div>
            <h2>Here's what we came up with</h2>
            {% for idea in ideas %}
                <div class="mb-3">
                    <div class="btn-group">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            {{ idea }}
                        </button>
                        <ul class="dropdown-menu">
                            {% if idea in saved_ideas %}
                                <form action="/generator" method="post">
                                    <button class="dropdown-item save" name="delete-idea" value="{{ idea }}" type="submit">
                                        Remove from saved
                                    </button>
                                </form>
                            {% else %}
                                <form action="/generator" method="post">
                                    <button class="dropdown-item save" name="save-idea" value="{{ idea }}" type="submit">
                                        Save
                                    </button>
                                </form>
                            {% endif %}
                            <form action="/expand" method="post">
                                <button class="dropdown-item save" name="idea" value="{{ idea }}" type="submit">
                                    Expand
                                </button>
                            </form>
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div>
            <h2>{{ current_selection["question"] }}</h2>

            <form action="/generator" method="post">
                <div class="mb-3 form-buttons">
                    {% for option in current_selection["options"] %}
                        <button class="btn btn-primary" type="submit" name="option" value="{{ option }}">
                            {{ option }}
                        </button>
                    {% endfor %}         
                </div>
            </form>
            <form action="/generator" method="post">
                <div class="mt-3 mx-auto" style="display: flex; width: 70vw; gap: 40px;">
                    <input class="form-control" style="width: 60vw;" name="custom" required autocomplete="off"
                        placeholder="Add custom answer" type="text">
                    <button class="btn btn-danger" style="width: 300px;" type="submit">
                        <span>Submit Custom Option</span>
                    </button>       
                </div>
            </form>
        </div>
    {% endif %}

    {% for selection in previous_selections %}
        <div class="previousSelection">
            <h2>{{ selection["question"] }}</h2>
            
            <form>
                <div class="mb-3 form-buttons">
                    {% for option in selection["options"] %}
                        {% if option == selection["answer"] %}
                            <button class="btn btn-primary" type="submit" disabled name="option" value="{{ option }}">
                                {{ option }}
                            </button>
                        {% else %}
                            <button class="btn btn-secondary" type="submit" disabled name="option" value="{{ option }}">
                                {{ option }}
                            </button>
                        {% endif %}
                    {% endfor %}
                </div>
            </form>
        </div>
    {% endfor %}
{% endblock %}