{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}
    <section>
        <div class="hero">
            <img src="../static/logo-mini.png" />
            <p>
                UNLEASHING YOUR IMAGINATION WITH THE POWER OF AI
            </p>
        </div>
    </section>
    <section>
        <h1>About</h2>
        <p>Idea AId is a webapp that aims to help people come up with ideas for, well,
            anything. Through the use of OpenAI's API, the app communicates with
            the GPT-4 Turbo chat bot in order to obtain data to create questions and then
            generate ideas from those questions.
            <br><br>
            Simply log in or sign up, click <a href="/generator">here</a> or on the 'generator' 
            link and answer the questions. Before you know it, an abundance of innovative, creative
            and practical ideas  will be at your fingertips - ready for personal or commerical use. Enjoy!
            <br>
            <hr>
            This website was created by Jake Glick, Asher Waine and Jacob Turtledove in december
            of 2023 for the harvard CS50 course final project.
        </p>
    </section>
{% endblock %}