<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <title>Idea Aid: {% block title %}{% endblock %}</title>

    </head>

    <body>

        <nav class="bg-light border navbar navbar-expand-md navbar-light">
            Navbar goes here
        </nav>

        <main class="container-fluid py-5 text-center">
            {% block main %}{% endblock %}
        </main>
    </body>
</html>
