<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <title>Idea Aid: {% block title %}{% endblock %}</title>

    </head>

    <body>

        <nav class="bg-light border navbar navbar-expand-md navbar-light">
            <nav class="bg-light border navbar navbar-expand-md navbar-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/"><span class="blue">C</span><span class="red">$</span><span class="yellow">5</span><span class="green">0</span> <span class="red">Fi$
                    <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse" type="$
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar">
                        {% if session["user_id"] %}
                            <ul class="navbar-nav me-auto mt-2">
                                <li class="nav-item"><a class="nav-link" href="/quote">Quote</a></li>
                                <li class="nav-item"><a class="nav-link" href="/buy">Buy</a></li>
                                <li class="nav-item"><a class="nav-link" href="/sell">Sell</a></li>
                                <li class="nav-item"><a class="nav-link" href="/history">History</a></li>
                            </ul>
                            <ul class="navbar-nav ms-auto mt-2">
                                <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                            </ul>
                        {% else %}
                            <ul class="navbar-nav ms-auto mt-2">
                                <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                                <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </nav>

        <main class="container-fluid py-5 text-center">
            {% block main %}{% endblock %}
        </main>
    </body>
</html>
