{% extends "layout.html" %}

{% block title %}
Quiz
{% endblock %}

{% block main %}
<div>
    {% if has_ideas %}
        <div>
            <h2>Here's What We Came Up With:</h2>
            {% for idea in ideas %}
            <div class="mb-3">
                <div class="btn-group">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {{ idea }}
                    </button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item save" data-name="{{ idea }}">
                            Save
                        </li>
                        <li class="dropdown-item expand" data-name="{{ idea }}">
                            Expand
                        </li>
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>

        <script>
            docuemnt.addEventListener("DOMContentLoaded", (event) => {
                buttons = document.querySelectorAll("li.dropdown-menu");
                buttons.forEach((button) => {
                    button.addEventListener('click', function (event) {
                        var form = document.createElement('form');
                        form.method = 'post';

                        form.action = "/save";
                        if (button.classList.contains("expand")){
                            form.action = "expand";
                        }
                        var input = document.createElement('input');
                        input.type = 'hidden';
                        input.name = 'idea';
                        input.value = button.dataset.name;
                        form.appendChild(input);
                        document.body.appendChild(form);
                        form.submit();
                    });
                })
            });

        </script>
    {% else %}
        <div>
            <div class="mb-3">
                <h1>{{ current_selection["question"] }}</h1>
            </div>
            <form action="/quiz" method="post">
                <div class="mb-3">
                    {% for option in current_selection["options"] %}
                    <button class="btn btn-primary" type="submit" name="option" value="{{ option }}">
                        {{ option }}
                    </button>
                    {% endfor %}
                </div>
            </form>
        </div>
    {% endif %}

    {% for selection in previous_selections %}
        <div>
            <div class="mb-3">
                <h1>{{ selection["question"] }}</h1>
            </div>
            <form>
                <div class="mb-3">
                    {% for option in selection["options"] %}
                        {% if option == selection["answer"] %}
                            <button class="btn btn-primary" type="submit" disabled name="option" value="{{ option }}">
                                {{ option }}
                            </button>
                        {% else %}
                            <button class="btn btn-secondary" type="submit" disabled name="option" value="{{ option }}">
                                {{ option }}
                            </button>
                        {% endif %}
                    {% endfor %}
                </div>
            </form>
        </div>
    {% endfor %}
</div>
{% endblock %}