{% extends "layout.html" %}

{% block title %}
Quiz
{% endblock %}

{% block main %}
<div>
    <div class="mb-3">
        <h1>{{ current_selection["question"] }}</h1>
    </div>
    <form action="/quiz" method="post">
        <div class="mb-3">
            {% for option in current_selection["options"] %}
            <button class="btn btn-primary" type="submit" name="option" value="{{ option }}">
                {{ option }}
            </button>
            {% endfor %}
        </div>
    </form>
    
    {% for selection in previous_selections %}
        <div class="mb-3">
            <h1>{{ selection["question"] }}</h1>
        </div>
        <form>
            <div class="mb-3">
                {% for option in selection["options"] %}
                <button class="btn btn-primary" type="submit" disabled name="option" value="{{ option }}">
                    {{ option }}
                </button>
                {% endfor %}
            </div>
        </form>
</div>

{% endfor %}
{% endblock %}