{% extends "layout.html" %}

{% block title %}
Saved
{% endblock %}

{% block header %}
    <h1>Your Saved Ideas</h1>
{% endblock %}

{% block main %}
    <div>
        <div class="saved-ideas">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Date</th>
                        <th scope="col">Expand</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for idea in ideas %}
                        <tr>
                            <td>{{ idea.title }}</td>
                            <td>{{ idea.date_edited }}</td>
                            <td>
                                <form action="/expand" method="post">
                                    <button class="btn btn-primary" name="idea" value="{{ idea.title }}" type="submit">
                                        Expand
                                    </button>
                                </form>
                            </td>
                            <td>
                                <form action="/saved" method="post">
                                    <button class="btn btn-danger" name="ideaID" value="{{ idea.ideaID }}" type="submit">
                                        Delete
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}