{% extends "layout.html" %}

{% block title %}
Saved
{% endblock %}

{% block main %}
<div>
    <h1>Your Saved Ideas</h1>
    <div style="width: 700px; margin: auto;">
        <table class="table" id="stockTable">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Date</th>
                    <th scope="col">Expand</th>
                </tr>
            </thead>
            <tbody>
                {% for idea in ideas %}
                    <tr data-name="{{ idea.title }}">
                        <td>{{ idea.title }}</td>
                        <td>{{ idea.date_edited }}</td>
                        <td>&rarr;</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}